p Валюты поддерживаемые Valega: #{VALEGA_ASSETS_CODES.join(', ')}
p Валюты на эфире: #{ETHEREUM_CODES.join(', ')}
p Валюты в bitcoin-подобных блокчейнах: #{BITCOIN_FORKS.join(', ')}
p Валюты поддерживаемые нами: #{OUR_CODES.join(', ')}
p Валюты проверяесые на AML в Velaga: #{ANALYZABLE_CODES.join(', ')}
