= present_risk_level address_analysis.risk_level
- if address_analysis.risk_level > 1 && address_analysis.analysis_result.present? 
  .mt-2.text-muted.text-small= address_analysis.analysis_result.raw_response['risk_msg'] || 'No risk_msg found'
